* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;  /*GARANTE QUE O PREENCHIMENTO/padding SEJA INCLUIDO NO CALCULO DA LARGURA, EVITANDO QUE O CONTEÚDO ULTRAPASSE A TELA */
}



html {
    width: 100%;
    height: 100vh;
}


header {
    padding: min(5vh, 4rem);   /*AJUSTANDO O PADDING PARA SER MAIS FLEXÍVEL*/
    background-color: #070902;
    width: 100%;  /*COLOCAMOS A LARGURA PARA 100% DO ESPAÇO DISPONIVEL*/

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*AQUI COMEÇAMOS O POSICIONAMENTO DO header*/

    position: sticky;  /*POSIONAMENTO DO header USANDO O Stick, SENDO UM POSICIONAMENTO FIXO, POREM DISTINTO DO Fixed*/

    top: 0;  /*ESPAÇAMENTO SUPERIOR ZERADO, FAZENDO COM QUE O header FIQUE GRUDADO AO TOP*/

    left: 0; /*ESPAÇAMENTO A ESQUERDA ZERADO, FAZENDO COM QUE O header FIQUE GRUDADO A ESQUERDA*/

    z-index: 999;  /*EIXO DE PROFUNDIDADE (EIXO CARTESIANO)*/

   box-shadow: 0 0.21rem 0.5rem white;  /*PRIMEIRO VALOR SOMBRA NA DIREITA (0), SEGUNDO VALOR SOMBRA BOTTOM (0.21REM), TERCEIRO VALOR GRADIANT DA SOMBRA (0.5REM)*/

}

header img {
    height: 100px;
    width: 110px;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color: #1d2206;
    border-radius: 1rem;
    padding: 1.3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    width: 100%;
    padding: min(20vh, 6rem);

}

.div-01 p {
    font-size: 2em;
    margin: 1.2em;
    background-color: #ffffff;
}

.div-02 img {
    width: ;
}

footer {
    background-color: #070902;
    width: 100%;
    padding: min(10vh, 4rem);
}

@media (max-width: 830px) {
    header img {
        font-size: 5.5em;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-01 {
        padding: 9rem;
    }

    .section-01 p {
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 2em;
    }

    .section-01 img {
        width: 20rem;
        margin: 0 auto;
    }
}